table, th ,td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
    
    
}
table{
   
    
    width: 100%;
    
   
}
.controletabela{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    align-items: center;
}
.tabelabtn{
    border: none;
    background-color: #b10a0c;
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
}
.tabelainput{
    padding: 7px 20px;
    border-radius: 5px;
    border: none;
    background-color: aliceblue;
}
.tabela-icone{
    width: 20px;

}